<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controleur.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInStudent</servlet-name>
        <servlet-class>quint.servlet.SignInStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Candidater</servlet-name>
        <servlet-class>quint.servlet.Candidater</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherEtat</servlet-name>
        <servlet-class>quint.servlet.AfficherEtat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemanderAgreement</servlet-name>
        <servlet-class>quint.servlet.DemanderAgreement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>afficher</servlet-name>
        <servlet-class>controleur.afficher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherOffres</servlet-name>
        <servlet-class>Controller.Company.AfficherOffres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterOffre</servlet-name>
        <servlet-class>Controller.Company.AjouterOffre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutStudent</servlet-name>
        <servlet-class>quint.servlet.SignOutStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierProfil</servlet-name>
        <servlet-class>quint.servlet.ModifierProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherOffresStudent</servlet-name>
        <servlet-class>quint.servlet.AfficherOffresStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherEtudiants</servlet-name>
        <servlet-class>Controller.Company.AfficherEtudiants</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherDescription</servlet-name>
        <servlet-class>Controller.Company.AfficherDescription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierOffre</servlet-name>
        <servlet-class>Controller.Company.ModifierOffre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMainPageTest</servlet-name>
        <servlet-class>quint.servlet.ShowMainPageTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemanderConvention</servlet-name>
        <servlet-class>quint.servlet.DemanderConvention</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AfficherOffres</servlet-name>
        <url-pattern>/pagesCompany/afficheroffres.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherEtat</servlet-name>
        <url-pattern>/pagesStudent/AfficherEtat.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Candidater</servlet-name>
        <url-pattern>/pagesStudent/Candidater.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemanderAgreement</servlet-name>
        <url-pattern>/pagesStudent/DemanderAgreement.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInStudent</servlet-name>
        <url-pattern>/pagesStudent/SignInStudent.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherOffresStudent</servlet-name>
        <url-pattern>/pagesStudent/AfficherOffresStudent.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterOffre</servlet-name>
        <url-pattern>/pagesCompany/ajouteroffre.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login_servlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>afficher</servlet-name>
        <url-pattern>/afficher.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutStudent</servlet-name>
        <url-pattern>/pagesStudent/SignOutStudent.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierProfil</servlet-name>
        <url-pattern>/ModifierProfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherEtudiants</servlet-name>
        <url-pattern>/pagesCompany/afficheretudiants.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherDescription</servlet-name>
        <url-pattern>/pagesCompany/afficherdescription.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierOffre</servlet-name>
        <url-pattern>/ModifierOffre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMainPageTest</servlet-name>
        <url-pattern>/pagesStudent/ShowMainPageTest.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemanderConvention</servlet-name>
        <url-pattern>/pagesStudent/DemanderConvention.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
